<nav>
  <div class="inner-nav cfx">
    <ul class="cfx">
      <li class="parent-li"><a href="">職種一覧ページ</a></li>
      <li class="parent-li"><a href="">各職種</a>
      <div class="inner-child-nav">
        <ul class="child-nav">
          <li><%= link_to "ディレクター", "#" %></li>
          <li><%= link_to "フロントエンドエンジニア", "#" %></li>
          <li><%= link_to "デザイナー", "#" %></li>
          <li><%= link_to "プロデューサー", "#" %></li>
          <li><%= link_to "WMC", "#" %></li>
        </ul>
        </div>
      </li>
    </ul>
    <p class="logout"><a href="login.html">ログアウト</a></p>
  </div>
</nav>