<% provide(:css, "detail.css")%>
<% provide(:js, "detail.js")%>
 <header>
   <h1 class="ui header">
        <%= @staff.name %>さんのページ
    </h1>

  </header>

  <div class="container edit">
    <%= form_for @staff, html: {class: "ui large form"} do |f| %>
    <%= render "shared/error_message", object: f.object %>
  <!-- ▼個人紹介 -->
    <div class="introduce cfx">
      <div class="thumb">
        <p><%= gravatar_for(@staff,150) %></p>
        <button class="ui inverted green button"><a href="http://gravatar.com/emails" target="_blank" class="">画像を変更する</a></button>
      </div>
      <div class="introduce-txt">
        <p class="name"><%= f.text_field :name, placeholder: "名前"  %></p>
        <table class="information segment ui">
          <tbody>
             <tr>
              <th>職種</th>
              <td><%= f.collection_select :jobcategory_id, Jobcategory.all, :id, :jobcategory_name, {},{class: "ui fluid search dropdown"} %></td>
            </tr>
            <tr>
              <th>課</th>
              <td><%= f.collection_select :division_id, Division.all, :id, :division_name, {}, {class: "ui fluid search dropdown"} %></td>
            </tr>
            <tr>
              <th>メール</th>
              <td><%= f.text_field :email, placeholder: "メールアドレス" %></td>
            </tr>
          </tbody>
        </table>
        <div class="sns">
          <p class="socialize">SOCIALIZE</p>
          <ul class="sns-lists">
            <li><i class="' + twitter +' icon"></i><span>teitter</span><%= f.text_field :twitter %></li>
            <li><i class="' + slack +' icon"></i><span>slack</span><%= f.text_field :slack %></li>
            <li><i class="' + facebook +' icon"></i><span>facebook</span><%= f.text_field :facebook %></li>
       
          </ul>
        </div>
      </div>
    </div>
    <!-- /個人紹介 END -->

    <!-- ▼スキルデータ部分 -->
    <!-- ▼component template -->
    <script type="text/x-template" id="svg-skill">
     <div class="wrp-skill-table">
      <svg class="skill-chart">
        <g>
          <polygon v-bind:points="points"></polygon>
          </g>

        </svg>
        <div class="skill-item">
         <show-skill-name v-for="(stat, index) in stats" v-bind:stat="stat" v-bind:index="index"></show-skill-name>
         </div>
         <div id="edit-skill">
            <svg-skill-range v-for="(stat, index) in stats" v-bind:stat="stat" v-bind:index="index" ></svg-skill-range>
          </div>
    </div>
    </script>

    <script type="text/x-template" id="svg-skill-name">      
       <span v-bind:x="point.x-30" v-bind:y="point.y" class="svgtext" v-html="stat.label+'<br><span>'+stat.value+'</span>'"></span>
    </script>


    <script type="text/x-template" id="svg-skill-range"> 
       <input type="range" name="" v-model="stat.value" v-bind:data-x="point.x" v-bind:data-y="point.y" max="100" min="0" v-bind:id="['staff_mainskill_' + index]" v-bind:name="['staff[mainskill_' + index + ']']">
    </script>
    <!-- /component template-->
    
    <div class="skilldata" id="skill-area">
      <h2>スキル表</h2>
      <input type="hidden" id="hidden-svg-data"  data-jobcategory="<%= @job.jobcategory_name %>" data-cat0="<%= @staff.mainskill_0 %>" data-cat1="<%= @staff.mainskill_1 %>" data-cat2="<%= @staff.mainskill_2 %>" data-cat3="<%= @staff.mainskill_3 %>" data-cat4="<%= @staff.mainskill_4 %>"></input>
      <div class="skilltable">
       <div class="wrp-svg-skill">
          <div class="svg-skill" id="vue-skill">
            <div class="wrp-base-svg"><svg class="base"></svg></div>
            <show-skill v-bind:stats="stats"></show-skill>
          </div>
        </div>
        <div class="other-skill">
          <section>
            <h3><span>その他技術スキル</span></h3>
            <ul>
              <%= f.text_area :other_skill, placeholder: "その他の技術スキルがあればカンマで繋いで入れて下さい"  %>
            </ul>
          </section>
          <section>
            <h3><span>どうでもスキル</span></h3>
            <ul>
              <%= f.text_area :even_skill, placeholder: "その他、どうでもいいスキルをカンマで繋いで入れて下さい"  %>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- /スキルデータ部分 END -->

    <!-- ▼ログインしてる＆自分のページなら表示。それ以外は非表示 -->
    <div class="edit">
      <p class="goto-edit"><%= f.submit "編集を確定する" , class: "ui inverted green button" %></p>
      <p class="goto-cancel"><button class="ui inverted red button"><%= link_to "キャンセル", staff_path %></button></p>
    </div>
<% end %>
  <!-- /container --></div>