<% provide(:css, "signup.css")%>

<div class="container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        新規登録
      </div>
    </h2>
      <%= form_for @staff, html: {class: "ui large form"} do |f| %>
      <%= render "shared/error_message", object: f.object%>
      <div class="ui stacked">
        <div class="required field">
          <%= f.label :name, "ユーザーネーム" %>
          <div class="ui left icon input">
            
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: "名前"  %>
          </div>
        </div>
        
        <div class="field">
           <%= f.label :emial, "メールアドレス"%>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <%= f.text_field :email, placeholder: "メールアドレス" %>
          </div>
        </div>
        
        <div class="required field">
           <%= f.label :password, "パスワード" %>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password , placeholder: "パスワード"%>
          </div>
        </div>
        
        <div class="required field">
           <%= f.label :password_confirmation, "パスワードの確認" %>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, placeholder: "パスワードの確認" %>
          </div>
        </div>
        
        <div class="required field">
           <%= f.label :jobcategory_id, "職種"  %>
          <div class="ui left icon input">
            <%= f.collection_select :jobcategory_id, Jobcategory.all, :id, :jobcategory_name, {},{class: "ui fluid search dropdown"} %>
          </div>
        </div>

        
        <div class="field">
           <label for="division_id" class="">課</label>
          <div class="ui left icon input">
            <%= f.collection_select :division_id, Division.all, :id, :division_name, {}, {class: "ui fluid search dropdown"} %>
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Twitter</label>
          <div class="ui left icon input">
            <%= f.text_field :twitter %>
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Facebook</label>
          <div class="ui left icon input">
            <%= f.text_field :facebook %>
          </div>
        </div>
        
        <div class="field">
           <label for="name" class="">Slack</label>
          <div class="ui left icon input">
            <%= f.text_field :slack %>
          </div>
        </div>
        
       
        
        <div class="field">
          <%= f.submit "新規登録", class: "ui fluid large teal submit button" %>
        </div>
      </div>

      <div class="ui error message"></div>
      <div class="field">
        
      </div>

    <% end %>

  </div>
</div>
</div>