<% provide(:css, "detail.css")%>
<% provide(:js, "detail.js")%>
 <header>
   <h1 class="ui header">
        <%= @staff.name %>さんのページ
    </h1>

  </header>

  <div class="container">
  <!-- ▼個人紹介 -->
    <div class="introduce cfx">
      <div class="thumb">
        <p><%= gravatar_for(@staff,150) %></p>
      </div>
      <div class="introduce-txt">
        <p class="name"><%= @staff.name %></p>
        <table class="information segment ui">
          <tbody>
             <tr>
              <th>職種</th>
              <td><%= @job.jobcategory_name %></td>
            </tr>
            <tr>
              <th>課</th>
              <td><%= @division.division_name %></td>
            </tr>
            <tr>
              <th>メール</th>
              <td><%= @staff.email %></td>
            </tr>
          </tbody>
        </table>
        <div class="sns">
          <p class="socialize">SOCIALIZE</p>
          <ul class="sns-lists">
            <%= snsIcon(@staff.twitter, "twitter") %>
            <%= snsIcon(@staff.slack, "slack") %>
            <%= snsIcon(@staff.facebook, "facebook") %>
          </ul>
        </div>
      </div>
    </div>
    <!-- /個人紹介 END -->

    <!-- ▼スキルデータ部分 -->
    <!-- ▼component template -->
    <script type="text/x-template" id="svg-skill">
     <div class="wrp-skill-table">
      <svg class="skill-chart">
        <g>
          <polygon id="skill-polygon" v-bind:points="points"></polygon>
          </g>

        </svg>
        <div class="skill-item">
         <show-skill-name v-for="(stat, index) in stats" v-bind:stat="stat" v-bind:index="index"></show-skill-name>
         </div>
    </div>
    </script>

    <script type="text/x-template" id="svg-skill-name">      
       <span v-bind:x="point.x-30" v-bind:y="point.y" class="svgtext" v-html="stat.label+'<br><span>'+stat.value+'</span>'"></span>
    </script>

    <!-- /component template-->
    
    <div class="skilldata" id="skill-area">
      <h2>スキル表</h2>
      <div class="skilltable">
        <input type="hidden" id="hidden-svg-data" data-jobcategory="<%= @job.jobcategory_name %>" data-cat0="<%= @staff.mainskill_0 %>" data-cat1="<%= @staff.mainskill_1 %>" data-cat2="<%= @staff.mainskill_2 %>" data-cat3="<%= @staff.mainskill_3 %>" data-cat4="<%= @staff.mainskill_4 %>"></input>
        <div class="wrp-svg-skill">
          <div class="svg-skill" id="vue-skill">
            <div class="wrp-base-svg"><svg class="base"></svg></div>
            <show-skill v-bind:stats="stats"></show-skill>
          </div>
        </div>
        
        <div class="other-skill">
          <section>
            <h3><span>その他技術スキル（得意なものなど）</span></h3>
            <div class="skillcontent"><%= @staff.other_skill %></div>
          </section>
          <section>
            <h3><span>どうでもスキル</span></h3>
            <div class="skillcontent"><%= @staff.even_skill %></div>
          </section>
        </div>
      </div>
    </div>
    <!-- /スキルデータ部分 END -->

    <!-- ▼ログインしてる＆自分のページなら表示。それ以外は非表示 -->
    <% if session[:staff_id] == @staff.id %>
      <div class="edit">
        <p class="goto-edit"><button class="ui inverted green button"><%= link_to "編集する", edit_staff_path(current_user) %></button></p>
      </div>
    <% end %>

  <!-- /container --></div>